:root{
    --primary-color: #00a0e9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    background: #fff;
}

.container{
    padding: 0 3em;
    max-width: 600px;
    margin: 0 auto;
}

.container.main{
    margin-top: 3em;
}

.btn{
    background-color: var(--primary-color);
    color: #fff;
    border: 0;
    border-radius: 4px;
    padding: 0.8em 1.5em;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    border: 1px solid var(--primary-color);
}
.btn:hover{
    cursor: pointer;
    filter: brightness(95%);
}
.btn.block{
    display: block;
    width: 100%;
    text-align: center;
    padding: 1.2em;
    border-radius: 5px;
}
.btn.link{
    background-color: transparent;
    color: var(--primary-color);
}

.mb-2{
    margin-bottom: 2em;
}

.input-group{
    label{
        display: block;
        margin-bottom: .5em;
    }
    input, textarea{
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 0.5em 1em;
        font-size: 16px;
        color: #333;
        margin-bottom: 1em;
    }
    textarea{
        min-height: 100px;
    }
}